@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitter:ital,wght@0,100..900;1,100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Cookie&display=swap');

.cookie {
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-style: normal;
}

.google-sans-code {
  font-family: 'Google Sans Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.barlow-light {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-light-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.playfair-regular {
  font-family: 'Playfair', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.playfair-bold {
  font-family: 'Playfair', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
